pyTelegramBotAPI==4.16.1
psutil==5.9.8
Flask==3.0.2
requests==2.31.0
python-dotenv==1.0.1
beautifulsoup4==4.12.3
Pillow==10.2.0
numpy==1.26.4
pandas==2.2.1
python-dateutil==2.9.0.post0
PyYAML==6.0.1
opencv-python==4.9.0.80
aiogram==2.25.1
pyrogram==2.0.106
telethon==1.34.0
telepot==12.7
pytg==0.5.1
tgcrypto==1.2.5